@import "reset";
@import "vars";
@import "media-queries";
@import "base";
@import "utils";
@import "classes";

header {
  @include header-toolbar(#ffffff);
}

main {
  background: #f5f6fa;
}

footer {
  background-color: #1b1464;
  height: 30px;
}
