@import "./config/stylfy-config";
@import "./core/module/padding/sfy-padding";
@import "./core/module/margin/sfy-margin";

/// Grid layout container
///
/// @Use
///   .element {
///       @include sfy-layout-container;
///   }
///
@mixin sfy-layout-container {
  &-grid-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas:
      "header-grid-component"
      "main-grid-component"
      "footer-grid-component";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;

    & > .header-component {
      grid-area: header-grid-component;
    }

    & > .main-component {
      grid-area: main-grid-component;
    }

    & > .footer-component {
      grid-area: footer-grid-component;
    }
  }
}

///
///
///
///
///
@mixin sfy-flex-container(
  $max-size: 1400px,
  $container-offset: 40px,
  $col-count: 12,
  $col-offset: 10px,
  $precision: false
) {
  &-container {
    max-width: #{$max-size};
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 $container-offset;
    @include responsive-device(xs) {
      padding: 0 $container-offset / 2;
    }
  }

  &-row {
    display: flex;
    flex-flow: row wrap;
    height: inherit;
  }

  @include sfy-flex-col($col-count, $col-offset, $precision);

  @include sfy-flex-align;

  &-wrap {
    flex-wrap: wrap;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }
}

///
///
///
///
@mixin sfy-flex-col($col-count: 12, $col-offset: 10px, $precision: false) {
  &-col {
    flex: 0 0 auto;
    padding: #{$col-offset} 0;
  }

  &-col- {
    flex: 1;
    padding: #{$col-offset} 0;
  }

  @for $i from 1 through $col-count {
    &-col-#{$i} {
      padding: #{$col-offset} 0;
      $number: 100% / $col-count * $i;
      @if $precision {
        flex: 0 0 round($number);
      } @else {
        flex: 0 0 $number;
      }
    }
  }
}

@mixin sfy-flex-align {
  &-ctr {
    justify-content: center;
    align-items: center;
  }
  &-just {
    &-ctr {
      justify-content: center;
    }
  }
  &-algn {
    &-ctr {
      align-items: center;
    }
  }
}
///
///
///
///
///
///
@mixin sfy-text {
  &-algn {
    &-ctr {
      text-align: center;
    }
  }
}

///
///
///
///
///
///
@mixin sfy-buttom($offsetY: 10px, $offsetX: 20px, $radius: 3px) {
  padding: #{$offsetY} #{$offsetX};
  border-radius: #{$radius};
  display: inline-block;
  @content;
}

///
///
///
///
///
///
@mixin sfy-display {
  &-none {
    display: none;
  }
  &-block {
    display: block;
  }
}
